.antras {width: 100%;}

h1 {color: rgb(127, 178, 255);} 

h3 {color: rgb(127, 178, 255);} 

a {color: rgb(107, 211, 252);}

li {color: rgb(60, 200, 255);}

table {color: rgb(60, 200, 255);}


 body {background : rgba(0, 98, 255, 0.136); margin: 1%;}



 .video {margin: auto;
    width: 100%;
    padding: 100px;


   }

    
