height: {100px;}

.boxes {
    width: 100%;
    display: flex;  
    justify-content: center;
    margin-bottom: 200px;
}

.boxes .boxes-bin {
    width: 100%;
    max-width: var(--container-width);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.boxes .boxes-bin .boxes-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.boxes .boxes-bin .boxes-header h2 {
    font-size: 40px;
    color: var(--blue);
    margin: 0;
    text-align: center;
    padding: 0 20px;
}

.boxes .boxes-bin .boxes-header p {
    font-size: 20px;
    color: gray;
    text-align: center;
    padding: 0 20px;
}


.boxes .boxes-bin .boxes-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 30px;
}

@media screen and (max-width: 1280px) {

    .boxes .boxes-bin .boxes-content {
        padding: 0 20px;
    }

}



.boxes .boxes-bin .boxes-content .box {
    width: 30%;
    border: 1px solid #dedede;
    border-radius: 40px;
    padding: 10px;
}

@media screen and (max-width: 1280px) {

    .boxes .boxes-bin .boxes-content .box {
        width: 47%;
    }

}

@media screen and (max-width: 700px) {

    .boxes .boxes-bin .boxes-content .box {
        width: 100%;
    }

}


.boxes .boxes-bin .boxes-content .box h3 {
    margin: 10px 0 30px 0;
    text-align: center;

}

.boxes .boxes-bin .boxes-content .box .box-content {
    display: flex;
    column-gap: 20px;
    align-items: center;

}

@media screen and (max-width: 700px) {
    .boxes .boxes-bin .boxes-content .box .box-content .box-content-left svg {
        width: 150px;
        height: 150px;
    }
}


.boxes .boxes-bin .boxes-content div:nth-child(1) .box-content .box-content-left svg {
    fill: skyblue;
}
.boxes .boxes-bin .boxes-content div:nth-child(1).box:hover .box-content .box-content-left svg path:nth-child(3),
.boxes .boxes-bin .boxes-content div:nth-child(1).box:hover .box-content .box-content-left svg path:nth-child(2) {
    fill: brown;
}
.boxes .boxes-bin .boxes-content div:nth-child(2) .box-content .box-content-left svg {
    fill: lightgreen;
}

.boxes .boxes-bin .boxes-content div:nth-child(3) .box-content .box-content-left svg {
    fill: lightpink;
}

.boxes .boxes-bin .boxes-content div:nth-child(3):hover .box-content .box-content-left svg path:nth-child(3) {
    fill: gold;
}

.boxes .boxes-bin .boxes-content div:nth-child(4) .box-content .box-content-left svg {
    fill: lightseagreen;
}
.boxes .boxes-bin .boxes-content div:nth-child(5) .box-content .box-content-left svg {
    fill: lightcoral;
}
.boxes .boxes-bin .boxes-content div:nth-child(6) .box-content .box-content-left svg {
    fill: lightseagreen;
}

.boxes .boxes-bin .boxes-content .box .box-content .box-content-right {
    font-size: 14px;
    padding: 0;
    margin: 0;
}

